<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @office_sought.category %>
</p>

<%= link_to 'Edit', edit_office_sought_path(@office_sought) %> |
<%= link_to 'Back', office_soughts_path %>
