<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @office_held.category %>
</p>

<%= link_to 'Edit', edit_office_held_path(@office_held) %> |
<%= link_to 'Back', office_helds_path %>
