<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @expend_type.description %>
</p>

<%= link_to 'Edit', edit_expend_type_path(@expend_type) %> |
<%= link_to 'Back', expend_types_path %>
