<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @election_type.type %>
</p>

<%= link_to 'Edit', edit_election_type_path(@election_type) %> |
<%= link_to 'Back', election_types_path %>
